# Gradle
.gradle/
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
out/

# Compose / WASM
kotlin-js-store/

# Firebase
firebase-service-account.json

# OS
.DS_Store
Thumbs.db
